apiVersion: v2
kind: Service
metadata:
  name: wil-playground
  labels:
    app: wil-playground
spec:
  type: ClusterIP
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
  selector:
    app: wil-playground
---
apiVersion: networking.k8s.io/v2
kind: Ingress
metadata:
  name: wil-playground-ingress
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wil-playground
            port:
              number: 8888
